PATH=/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=dev@brownbox.net.au
5 * * * * cd /var/www/vhosts/sitename/wp-content/plugins/bbconnect-kpis/ && /usr/bin/php /var/www/vhosts/sitename/wp-content/plugins/bbconnect-kpis/cron.php >> /var/www/vhosts/sitename/wp-content/plugins/bbconnect-kpis/cron.log
