
table.s-report {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1rem;
  width: 100%;
}

table.s-report td, table.s-report th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: left;
}

table.s-report td, table.s-report th:not(:first-of-type) {
  text-align: right;
}
